body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.gradient-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify; /* Align text in the justified manner */
    background: linear-gradient(to right, #fff, #000);
    transition: background 0.5s ease-in-out;
    overflow-y: scroll; /* Enable vertical scrolling */
}

article {
    max-width: 300px; /* Adjust the maximum width of the article */
    margin: 0 auto; /* Center the article within the container */
}

/* Add more styles for your content as needed */
h1, p {
    color: black; /* Text color for the article */
}
